{# Shared type table: struct format codes for primitive types. #}
{% set INT_FORMATS = {'uint8': 'B', 'int8': 'b', 'uint16': 'H', 'uint32': 'I'} %}
{% set ENUM_NAMES = enums | map(attribute='name') | list %}

{% macro docstring(text, ind) -%}
{{ ind }}"""
{{ ind }}{{ text | replace('\n', '\n' ~ ind) }}
{{ ind }}"""
{%- endmacro %}

{% macro py_type(t) -%}
{% if t in INT_FORMATS or t == 'int24' %}int{% elif t == 'Utf8String' %}str{% elif t == 'Bytes' %}bytes{% else %}{{ t }}{% endif %}
{%- endmacro %}

{# Unpacks one struct field from `data` at the absolute offset in `ns.offset`. #}
{% macro unpack_field(field, ns) -%}
{% if field.is_list %}
_{{ field.name }} = [{{ field.type }}.unpack(data[_i:_i + {{ field.item_size }}]) for _i in range({{ ns.offset }}, len(data), {{ field.item_size }})]
{% elif field.type in INT_FORMATS %}
_{{ field.name }} = struct.unpack_from('<{{ INT_FORMATS[field.type] }}', data, {{ ns.offset }})[0]
{% set ns.offset = ns.offset + field.size %}
{% elif field.type == 'int24' %}
_{{ field.name }} = int.from_bytes(data[{{ ns.offset }}:{{ ns.offset + field.size }}], byteorder='little', signed=True)
{% set ns.offset = ns.offset + field.size %}
{% elif field.type in ENUM_NAMES %}
_{{ field.name }} = {{ field.type }}(data[{{ ns.offset }}])
{% set ns.offset = ns.offset + 1 %}
{% else %}
_{{ field.name }} = {{ field.type }}.unpack(data[{{ ns.offset }}:{{ ns.offset + field.size }}])
{% set ns.offset = ns.offset + field.size %}
{% endif %}
{%- endmacro %}

{# Expression that unpacks a whole-characteristic payload from `data`. #}
{% macro unpack_payload_expr(t) -%}
{% if t in INT_FORMATS %}struct.unpack('<{{ INT_FORMATS[t] }}', data)[0]{% elif t == 'int24' %}int.from_bytes(data, byteorder='little', signed=True){% elif t == 'Utf8String' %}data.decode('utf-8'){% elif t == 'Bytes' %}data{% elif t in ENUM_NAMES %}{{ t }}(struct.unpack('<B', data)[0]){% else %}{{ t }}.unpack(data){% endif %}
{%- endmacro %}

{# Statement that packs a whole-characteristic payload from `data`. #}
{% macro pack_payload_stmt(t) -%}
{% if t in INT_FORMATS %}return struct.pack('<{{ INT_FORMATS[t] }}', data){% elif t == 'int24' %}return _pack_int24(data){% elif t == 'Utf8String' %}return data.encode('utf-8'){% elif t == 'Bytes' %}return data{% elif t in ENUM_NAMES %}return struct.pack('<B', data.value){% else %}raise NotImplementedError("Serialization for custom structs is not yet implemented"){% endif %}
{%- endmacro %}

# AUTO-GENERATED FILE. DO NOT EDIT.
import struct
from dataclasses import dataclass
from enum import IntEnum
from typing import Generic, TypeVar


def _pack_int24(value: int) -> bytes:
    """Packs an integer as a 3-byte little-endian signed integer."""
    return value.to_bytes(3, byteorder='little', signed=True)


# --- BASE CLASSES ---
class BLEService:
    UUID: str
    advertised: bool = False


class BLECharacteristic:
    UUID: str


_UnpackResultT = TypeVar("_UnpackResultT")
_PackType = TypeVar("_PackType")


class BLECharacteristicRead(BLECharacteristic, Generic[_UnpackResultT]):
    """Base class for BLE characteristics that can be read."""

    @classmethod
    def unpack(cls, b: bytearray | bytes) -> _UnpackResultT:
        """Parses raw characteristic data into some sort of object."""
        raise NotImplementedError("Subclasses must implement the unpack method.")


class BLECharacteristicWrite(BLECharacteristic, Generic[_PackType]):
    """Base class for BLE characteristics that can be written."""

    @classmethod
    def pack(cls, data: _PackType) -> bytes:
        """Pack data into bytes to send."""
        raise NotImplementedError("Subclasses must implement the pack method.")


# --- ENUMS ---
{% for enum in enums %}
class {{ enum.name }}(IntEnum):
{% if enum.docstring %}
{{ docstring(enum.docstring, '    ') }}
{% endif %}
{% for key, val in enum.members.items() %}
    {{ key }} = 0x{{ '%02X' % val }}
{% endfor %}
{% endfor %}


# --- DATACLASSES / STRUCTS ---
{% for struct in structs %}
@dataclass
class {{ struct.name }}:
{% if struct.docstring %}
{{ docstring(struct.docstring, '    ') }}
{% endif %}
{% for field in struct.fields %}
{% if field.is_list %}
    {{ field.name }}: list[{{ py_type(field.type) }}]
{% else %}
    {{ field.name }}: {{ py_type(field.type) }}
{% endif %}
{% endfor %}

    @classmethod
    def unpack(cls, data: bytes) -> '{{ struct.name }}':
        """Unpacks this struct from raw bytes."""
{% set ns = namespace(offset=0) %}
{% for field in struct.fields %}
        {{ unpack_field(field, ns) -}}
{% endfor %}
        return cls({% for field in struct.fields %}_{{ field.name }}{% if not loop.last %}, {% endif %}{% endfor %})
{% endfor %}


# --- BLE SERVICES ---
{% for service in services %}
class {{ service.name }}(BLEService):
{% if service.docstring %}
{{ docstring(service.docstring, '    ') }}
{% endif %}
    UUID = "{{ service.uuid }}"
    advertised = {{ service.advertised }}
{% for char in service.characteristics %}

    {% set bases = [] %}
    {% if char.read_payload %}{% set _ = bases.append('BLECharacteristicRead[' ~ py_type(char.read_payload) ~ ']') %}{% endif %}
    {% if char.write_payload %}{% set _ = bases.append('BLECharacteristicWrite[' ~ py_type(char.write_payload) ~ ']') %}{% endif %}
    {% if not bases %}{% set _ = bases.append('BLECharacteristic') %}{% endif %}
    class {{ char.name }}({{ bases | join(', ') }}):
{% if char.docstring %}
{{ docstring(char.docstring, '        ') }}
{% endif %}
        UUID = "{{ char.uuid }}"
{% if char.read_payload %}

        @classmethod
        def unpack(cls, b: bytearray | bytes) -> {{ py_type(char.read_payload) }}:
            data = bytes(b)
            return {{ unpack_payload_expr(char.read_payload) }}
{% endif %}
{% if char.write_payload %}

        @classmethod
        def pack(cls, data: {{ py_type(char.write_payload) }}) -> bytes:
            {{ pack_payload_stmt(char.write_payload) }}
{% endif %}
{% endfor %}
{% endfor %}
